@font-face {
    font-family: 'Degular';
    src: url('../fonts/DegularVariable.ttf');
    font-weight: 100 900;
    font-stretch: 75% 100%;
    font-style: normal italic;
}

@font-face {
    font-family: 'Gill Sans Nova Cond Ultra';
    src: url('../fonts/GillSansNova-CondUltraBold.woff2') format('woff2'),
        url('../fonts/GillSansNova-CondUltraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gill Sans Nova Ultra';
    src: url('../fonts/GillSansNova-UltraBold.woff2') format('woff2'),
        url('../fonts/GillSansNova-UltraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

.loader-wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;

}

.loader {
    display: inline-flex;
    gap: 10px;
}

.loader:before,
.loader:after {
    content: "";
    height: 20px;
    aspect-ratio: 1;
    border-radius: 50%;
    background:
        radial-gradient(farthest-side, #000 95%, #0000) 50%/8px 8px no-repeat #fff;
    aspect-ratio: 1;
    animation: l10 1.5s infinite alternate;
}

.loader:after {
    --s: -1;
}

@keyframes l10 {

    0%,
    20% {
        transform: scaleX(var(--s, 1)) rotate(0deg);
        clip-path: inset(0)
    }

    60%,
    100% {
        transform: scaleX(var(--s, 1)) rotate(30deg);
        clip-path: inset(40% 0 0)
    }
}

body {
    font-family: 'Degular';
    color: #000;
}

.font-gill {
    font-family: 'Gill Sans Nova Cond Ultra';
}

.bg-orange {
    background-color: #E56D29;
}

.text-orange {
    color: #E56D29;
}

.border-orange {
    border-color: #E56D29 !important;
}

.news-mail {
    background-color: rgba(120, 120, 120, .5);
}


.news-mail::placeholder {
    color: #fff;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

.links a {
    color: #fff;
}

.w-fit {
    width: fit-content;
}

.bg-props {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-gray {
    background-color: #f5f5f5;
}

.inner-space {
    padding: 40px 0;
}

.p-9 {
    padding: 9px;
}

.fs-12 {
    font-size: 12px;
}

.fs-14 {
    font-size: 14px;
}

.fs-15 {
    font-size: 15px;
}

.fs-18 {
    font-size: 18px;
}

.fs-32 {
    font-size: 20px;
}

.fs-22 {
    font-size: 22px;
}

.gap-30 {
    gap: 30px;
}

.text-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.min-w-fit {
    min-width: fit-content;
}

input,
textarea,
select,
button {
    border: none;
    outline: none;
}

.title h2 {
    font-size: 36px;
    font-family: 'Gill Sans Nova Cond Ultra';
    margin-bottom: 20px;
    text-transform: capitalize;
}

.title h3 {
    font-size: 24px;
    margin-bottom: 20px;
}

.title p {
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
}

header {
    padding: 20px 0;
}

.header-sticky {
    position: sticky;
    top: 0;
    z-index: 1000;
}

header .btn {
    background-color: #E56D29;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 10px;
    padding: 10px;
}

header .btn:hover {
    color: #fff;
    border: 1px solid #E56D29;
}

header nav li a {
    color: #fff;
    min-width: max-content;
    font-size: 16px;
    padding: 8px;
}

header nav a.active {
    font-weight: 600;
}

.offcanvas-body nav li {
    color: #000;
}

.hero {
    background-image: url('../images/hero-bg.png');
}

.hero h1 {
    font-size: 36px;
    line-height: 1.5;
    font-family: 'Gill Sans Nova Cond Ultra';
    margin-bottom: 20px;
}

.hero h1 span {
    background-color: #E56D29;
    color: #fff;
    padding: 3px 15px;
    border-radius: 16px;
}

.countdown {
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    text-align: center;
}

.countdown .box {
    border: 1px solid rgba(120, 120, 120, .5);
    border-radius: 8px;
    background-color: #fff;
    padding: 4px 17px;
}

.nav.nav-tabs button {
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 8px;
    padding: 12px;
    background-color: #fff;
}

.nav.nav-tabs button.active {
    background-color: #E56D29;
    color: #fff;
}

.tab-content .input-group {
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 8px;
    padding: 12px;
    background-color: #F5F5F5;
    gap: 10px;
    flex-wrap: nowrap;
}

.tab-content input::placeholder {
    color: #000;
    font-weight: 600;
}

.process-sec {
    background-image: url('../images/sec-sec-bg.png');
}

.process-sec .process {
    background-color: #f5f5f5;
    border-radius: 15px;
    padding: 20px;
    max-width: 660px;
}

.about-us {
    background: linear-gradient(0deg, rgba(240, 240, 240, 1) 0%, rgba(255, 255, 255, 1) 100%);
}

.frame .box {
    font-size: 18px;
    box-shadow: 0 6px 0 0 #000;
    border-radius: 10px;
    padding: 15px;
}

.tokenomics {
    background-image: url('../images/tokenomics-bg.png');
}

.tokenomics .data .box {
    border: 1px solid rgba(120, 120, 120, .5);
    padding: 10px;
    display: flex;
    gap: 20px;
    margin: 5px;
    background-color: #F5F5F5;
    border-radius: 16px;
    align-items: center;
}


.tokenomics .data .clr {
    width: 45px;
    height: 45px;
    border-radius: 10px;
}


.tokenomics .data> :nth-child(1) .clr {
    background-color: #4FCA7A;
}

.tokenomics .data> :nth-child(2) .clr {
    background-color: #FA912E;
}

.tokenomics .data> :nth-child(3) .clr {
    background-color: #8B30FF;
}

.tokenomics .data> :nth-child(4) .clr {
    background-color: #E72682;
}

.tokenomics .data> :nth-child(5) .clr {
    background-color: #3148A6;
}

.tokenomics .data> :nth-child(6) .clr {
    background-color: #268AE7;
}

.nft .card .content {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.nft {
    background-color: #F1F1F1;
}

.nft .card {
    padding: 24px;
    border-radius: 16px;
    background-color: #fff;
    border: 0;
}

.nft .card-image img {
    width: 100%;
    border-radius: 8px;
    aspect-ratio: 1/1;
    margin-bottom: 13px;
}

.roadmap .card {
    padding: 14px;
    border-radius: 16px;
    background-image: url('../images/roadmap-card-bg.png');
    height: 100%;
    position: relative;
}

.roadmap .card-title {
    color: #E56D29;
    font-weight: 900;
    font-size: 24px;
    background-color: #fff;
    text-align: center;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.roadmap .content {
    color: #fff;
    list-style: disc;
    font-size: 20px;
    font-weight: 500;
    margin-left: 20px;
    line-height: 2.3;
}

.faq {
    background-image: url('../images/faq-bg.png');
}

.accordion-button:not(.collapsed) {
    color: #E56D29;
}

.accordion-button:not(.collapsed)::after {
    background-image: url('../images/minus.svg');
}

.accordion-button.collapsed::after {
    background-image: url('../images/plus.svg');
}

.team .team-card {
    border-radius: 16px;
    padding: 24px 26px;
    width: 100%;
}

.team .team-card img {
    border-radius: 8px;
    width: 100%;
    aspect-ratio: 1/1;
}

.team .team-card .content {
    padding: 16px;
}

.team .team-card .social {
    width: 40px;
    height: 40px;
    border-radius: 8px;
    border: 1px solid #000;
    display: grid;
    place-items: center;
}

.team .team-card .socials {
    gap: 10px;
}

@media (min-width: 576px) {
    .roadmap .card {
        padding: 24px;
    }

    header .logo {
        flex: unset;
        width: fit-content;
    }

    .countdown {
        padding: 15px;
        margin-bottom: 20px;
        background-color: #f5f5f5;
    }

    .buy-stake {
        background-color: #fff;
        border-radius: 16px;
        padding: 15px;
        box-shadow: 0 10px 30.8px 0 rgba(0, 0, 0, .15);
    }

    .process-sec .process {
        border-radius: 20px;
        padding: 30px;
    }
}

@media (min-width: 768px) {
    .p-md-15 {
        padding: 15px;
    }

    .-mx-md-15 {
        margin: 0 -15px;
    }

    header .btn {
        border-radius: 16px;
        padding: 10px 24px;
    }

    .tokenomics .data {
        background-color: #fff;
        border-radius: 16px;
        padding: 15px;
        display: flex;
    }

    .w-md-fit {
        width: fit-content !important;
    }

}

@media (min-width: 992px) {
    .fs-32 {
        font-size: 28px;
    }

    .inner-space {
        padding: 70px 0;
    }

    .hero h1 {
        font-size: 40px;
        margin-bottom: 30px;
    }

    .title h2 {
        font-size: 45px;
    }

    .title p {
        font-size: 20px;
    }

    .title h3 {
        font-size: 28px;
    }

    .frame .box {
        font-size: 26px;
        border-radius: 16px;
        padding: 20px 30px;
    }
}

@media (min-width: 1200px) {}

@media (min-width: 1400px) {
    .fs-32 {
        font-size: 32px;
    }

    .countdown .box {
        padding: 6px 22px;
    }

    header .btn {
        font-size: 20px;
    }

    header nav li a {
        padding: 10px;
    }

    .countdown {
        padding: 30px;
        margin-bottom: 50px;
    }

    .buy-stake {
        padding: 30px;
    }

    .tokenomics .data .box {
        gap: 20px;
        margin: 15px;
    }

    .tokenomics .data {
        background-color: #fff;
        border-radius: 16px;
        padding: 15px;
    }

    .tokenomics .data .clr {
        width: 54px;
        height: 54px;
    }

}

@media (min-width: 1600px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1458px;
    }

    header .btn {
        font-size: 22px;
    }

    header nav li a {
        padding: 20px;
        font-size: 18px;
    }

    .inner-space {
        padding: 100px 0;
    }

    .hero h1 {
        font-size: 60px;
        margin-bottom: 40px;
    }

    .inner-space-lg {
        padding: 120px 0;
    }

    .frame {
        background-image: url('../images/about-us-frame.png');
        padding: 100px 150px;
    }

    .title h2 {
        font-size: 54px;
    }

    .title p {
        font-size: 24px;
    }

    .title h3 {
        font-size: 34px;
    }

    .frame .box {
        font-size: 32px;
        border-radius: 16px;
        padding: 30px 50px;
    }

    .roadmap .card::after {
        content: '';
        width: 66px;
        height: 66px;
        font-size: 40px;
        font-weight: bold;
        color: #FFF;
        background-color: #E56D29;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 50%;
        display: grid;
        place-items: center;
        top: -140px;
        z-index: 1;
    }

    .cards-wrapper :nth-child(1) .card::after {
        content: '1';
    }

    .cards-wrapper :nth-child(2) .card::after {
        content: '2';
    }

    .cards-wrapper :nth-child(3) .card::after {
        content: '3';
    }

    .cards-wrapper :nth-child(4) .card::after {
        content: '4';
    }

    .cards-wrapper :nth-child(5) .card::after {
        content: '5';
    }

    .cards-wrapper :nth-child(6) .card::after {
        content: '6';
    }

    .roadmap .card::before {
        content: '';
        width: 4px;
        height: 100px;
        background-color: #E56D29;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 100%;
    }

    .cards-wrapper :nth-child(4) .card::before,
    .cards-wrapper :nth-child(5) .card::before,
    .cards-wrapper :nth-child(6) .card::before {
        height: 224px;
    }

    .roadmap .cards-wrapper {
        margin-top: 100px;
        position: relative;
    }

    .roadmap .cards-wrapper {
        row-gap: 200px;
    }

    .roadmap .sec-row .card::before {
        height: 224px;
    }

    .roadmap .cards-wrapper::after,
    .roadmap .cards-wrapper::before {
        content: '';
        width: 65%;
        height: 4px;
        background-color: #E56D29;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: -85px;
    }

    .roadmap .cards-wrapper::before {
        top: 540px;
    }
}