:root {
    --bs-warning-rgb: 252, 144, 61;
}

body {
    font-family: 'Nunito Sans', monospace;
}

a {
    text-decoration: none;
}

.fs-12 {
    font-size: 12px;
}

.fs-14 {
    font-size: 12px;
}

.py-70 {
    padding: 70px 0;
}

.py-100 {
    padding: 100px 0;
}

ul,
li {
    padding: 0;
    margin: 0;
    list-style: none;
}

.row,
.d-flex {
    flex-wrap: wrap;
}

input,
select {
    outline: none;
}

/* fonts */

@font-face {
    font-display: swap;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 200;
    src: url('../fonts/nunito-sans-v15-latin-200.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Nunito Sans';
    font-style: italic;
    font-weight: 200;
    src: url('../fonts/nunito-sans-v15-latin-200italic.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/nunito-sans-v15-latin-300.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Nunito Sans';
    font-style: italic;
    font-weight: 300;
    src: url('../fonts/nunito-sans-v15-latin-300italic.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/nunito-sans-v15-latin-regular.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Nunito Sans';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/nunito-sans-v15-latin-italic.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/nunito-sans-v15-latin-500.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Nunito Sans';
    font-style: italic;
    font-weight: 500;
    src: url('../fonts/nunito-sans-v15-latin-500italic.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/nunito-sans-v15-latin-600.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Nunito Sans';
    font-style: italic;
    font-weight: 600;
    src: url('../fonts/nunito-sans-v15-latin-600italic.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/nunito-sans-v15-latin-700.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Nunito Sans';
    font-style: italic;
    font-weight: 700;
    src: url('../fonts/nunito-sans-v15-latin-700italic.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/nunito-sans-v15-latin-800.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Nunito Sans';
    font-style: italic;
    font-weight: 800;
    src: url('../fonts/nunito-sans-v15-latin-800italic.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/nunito-sans-v15-latin-900.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Nunito Sans';
    font-style: italic;
    font-weight: 900;
    src: url('../fonts/nunito-sans-v15-latin-900italic.woff2') format('woff2');
}

/* Loader */
.loader-wrapper {
    display: flex;
}

.loader {
    transform: rotateZ(45deg);
    width: 50px;
    height: 50px;
}

.loader:before,
.loader:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    border-radius: 50%;
    transform: rotateX(70deg);
    animation: 1s spin linear infinite;
}

.loader:after {
    color: #FC903D;
    transform: rotateY(70deg);
    animation-delay: .4s;
}

@keyframes spin {

    0%,
    100% {
        box-shadow: .2em 0px 0 0px currentcolor;
    }

    12% {
        box-shadow: .2em .2em 0 0 currentcolor;
    }

    25% {
        box-shadow: 0 .2em 0 0px currentcolor;
    }

    37% {
        box-shadow: -.2em .2em 0 0 currentcolor;
    }

    50% {
        box-shadow: -.2em 0 0 0 currentcolor;
    }

    62% {
        box-shadow: -.2em -.2em 0 0 currentcolor;
    }

    75% {
        box-shadow: 0px -.2em 0 0 currentcolor;
    }

    87% {
        box-shadow: .2em -.2em 0 0 currentcolor;
    }
}


/* Header */

header a,
header {
    color: white !important;
}

.wallet-modal {
    backdrop-filter: blur(10px);
}

.wallet-modal .modal-dialog {
    max-width: 700px;
}

.wallet-modal input[type='radio'] {
    box-sizing: border-box;
    appearance: none;
    outline: 2px solid rgba(120, 120, 120, .2);
    border: 3px solid white;
    width: 16px;
    height: 16px;
    border-radius: 2px !important;
}

.wallet-modal input[type='radio']:checked {
    background: #FC903D;
    outline-color: #FC903D;
    border-radius: 2px !important;
}

.wallet-modal label:has(input[type='radio']:checked) {
    border-color: #FC903D !important;
}

select {
    appearance: none;
}

/* Hero */

.hero-box .timer {
    max-width: 250px;
}

.hero::after {
    content: '';
    background-image: url("../images/doge-coin-run.png");
    height: 100%;
    width: 50%;
    position: absolute;
    top: 0;
    right: 0;
    background-repeat: no-repeat;
}

.buy-stack-form button.active {
    background-color: #FC903D !important;
    border-color: #FC903D !important;
    color: white;
}

.buy-stack-form .fa-ethereum {
    display: inline-block;
    width: 25px;
    height: 25px;
    line-height: 24px;
    border-radius: 50%;
    background-color: #EDF0F4;
    color: #141414;
    font-size: 15px;
    margin-right: 10px;
}

.icons>li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #343434;
    border-radius: 50%;
    color: #fff;
}

/* third section */

.buy-card,
.buy-card button {
    transition: all .3s ease-in-out;
}

.buy-card:hover {
    background-color: rgba(555, 555, 555, .2);
}

.buy-card:hover button {
    background-color: #FC903D !important;
    border-color: #FC903D !important;
}

/* Roadmap */

.b-after,
.b-xl-after {
    position: relative;
}

.b-after::after,
.b-xl-after::after {
    content: '';
    height: 1px;
    width: 98%;
    background-color: rgba(120, 120, 120, .5);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.b-end.b-after::after,
.b-xl-after::after {
    height: 100%;
    width: 1px;
    left: 100%;
    content: none;
}

.b-xl-after::after {
    content: none;
}

/* Tokenomics */

.map-card {
    background-color: rgba(120, 120, 120, .1);
}

.chart .orange {
    border-left: 8px solid #FC903D;
}

.chart .orange h4 {
    color: #FC903D;
}

.chart .green {
    border-left: 8px solid #9DDB63;
}

.chart .green h4 {
    color: #9DDB63;
}

.chart .blue {
    border-left: 8px solid #39CEF3;
}

.chart .blue h4 {
    color: #39CEF3;
}

.chart .pink {
    border-left: 8px solid #E561C4;
}

.chart .pink h4 {
    color: #E561C4;
}

.chart .yellow {
    border-left: 8px solid #E5D861;
}

.chart .yellow h4 {
    color: #E5D861;
}

.chart .purple {
    border-left: 8px solid #8361E5;
}

.chart .purple h4 {
    color: #8361E5;
}

/*FAQ section*/

.faq {
    background-image: url("../images/faq.png");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.faq .accordion {
    max-width: 950px;
}

.accordion-button::after {
    background-image: none;
    content: '\f078';
    font-family: "Font Awesome 6 free";
    color: #fff;
    background-color: black;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.accordion-button:not(.collapsed)::after {
    background-image: none;
    background-color: #FC903D;
}

/*Footer*/

footer a {
    color: white;
}

/*Stack Page*/

.stack .box {
    border-radius: 12px;
    border: 1px solid rgba(120, 120, 120, .3);
    background-color: #f5f5f5;
    padding: 20px;
    overflow: hidden;
    height: 100%;
}

.stack #myTab button.active {
    background-color: #FC903D;
    color: white;
}

.rewards-tag {
    transform: rotate(-90deg);
}

/*Privacy Policy Page*/

.privacy-policy h2 {
    margin: 25px 0;
    font-weight: bold;
}

.privacy-policy p {
    font-weight: 500;
}

.privacy-policy li {
    list-style: disc;
    margin-bottom: 15px;
}

/*Media Query*/

@media (min-width:576px) {
    .hero-box .timer {
        max-width: 350px;
    }
}

@media (min-width:768px) {
    .hero-box .timer {
        max-width: 550px;
    }

    .map-card {
        min-height: 336px;
    }

    .b-end.b-after::after {
        height: 100%;
        width: 1px;
        left: 100%;
        content: '';
    }
}

@media (min-width:992px) {
    .hero-box {
        max-width: 430px;
    }

    .hero-box .timer {
        max-width: 300px;
    }
}

@media (max-width:991px) {
    .navbar-collapse {
        position: absolute;
        top: 100%;
        background: black;
        width: 100%;
        left: 0px;
        z-index: 100;
    }

    .hero::after {
        display: none;
    }
}

@media (min-width:1200px) {
    .hero-box {
        max-width: 500px;
    }

    .hero-box .timer {
        max-width: 400px;
    }

    .accordion-button::after {
        width: 50px;
        height: 50px;
    }

    .map-card {
        min-height: 261px;
    }

    .b-xl-after::after {
        content: '';
    }
}

@media (min-width:1400px) {
    .hero-box {
        max-width: 590px;
    }

    .hero-box .timer {
        max-width: 460px;
    }

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1430px;
    }
}

@media (min-width:1430px) {

    .map-card {
        min-height: 333.5px;
    }
}